body {
    margin: 0;
    padding: 0;
}

iframe[id*="omero-image-viewer"]{
    border: none;
    margin: 20px auto 20px;
    padding: 0;
}

div#graphics_container {
    margin: 0;
    padding: 0;
    position: relative;
}

#rois-table_wrapper {
    margin-top: 25px;
    padding: 25px 25px 0;
}

#rois-table {
    margin-top: 25px;
}

/* hide the default jquery icon of the sort controls */
table .dataTable thead .sorting_asc {
    background-image: none;
}

table .dataTable thead .sorting_desc {
    background-image: none;
}

table .dataTable thead .sorting {
    background-image: none;
}

table .dataTable tbody tr td.roi_thumb {
    vertical-align: middle;
}

.roi-description {
    width: 55%;
}

.roi-visibility-selector {
    text-align: center;
}

/* Fixes position of the entry number selector */
.dataTables_length {
}

/* Fixes the search box position */
.dataTables_filter {
}

.dataTables_info {
}

#rois-table_info {
}

